body {
    background: rgb(245, 200, 207);
}

h2{
    text-align:center
}

h2 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  ul {
    padding:10px;
  }

  li {
    display: inline;
    padding: 0px 10px 0px 10px;
  }

  header{
    text-align: center;
    color: black;
    background: color pink;
    background-size: cover;
    padding: 20px 0px 0px 0px;
    
  }

  h1{
    font-size: 50px;
  }

 #topimage{
  margin: 40px 0px 0px 0px;
  border: 9px solid white;
 }